# Core functionality - changes here should be rare!
/src/app.py                   @munirathnakumar
/src/backend/database.py      @munirathnakumar
/src/backend/routers/auth.py  @munirathnakumar

# The frontend will need refactored soon to be more object oriented.
/src/static/   @munirathnakumar
